.list-group-item {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  border: 2px solid #39456a;
  font-size: 15px;
}
.list-group-item:hover {
  border: 2px solid rgb(255, 255, 255);
}
.categories {
  background-color: #39456a;
  z-index: 50;
  border-radius: 0;
  height: 44px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox için */
  -ms-overflow-style: none; /* Internet Explorer için */
  /* ekran küçülürse kenardaki categoriler gizlenecek. yani ortaya en önemlileri koy */
  overflow-y: hidden;
}
.row .col-4 {
  display: flex inherit;
  justify-content: center;
  color: aliceblue;
}
